body{
    margin: 0;
    padding: 0;
    height: 99vh;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: aliceblue;
    /* background-color: skyblue; */
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    backdrop-filter: blur(10vh); /* Adjust the blur intensity as needed */
    z-index: -1;
}

.cardContainer{
    border: 1px solid white;
    box-shadow: -5px 5px 10px #00000082;
    border-radius: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    width: 50vh;
    z-index: 1;
}

.weatherHeader{
    width: -webkit-fill-available;
    /* height: inherit; */
    height: 160%;
    display: flex;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1533324268742-60b233802eef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80");
    background-size: cover; /* Adjust the background size as needed */
    position: relative;
    border-radius: inherit;
}

.getWeatherForm{
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
}

.weatherButton{
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.weatherDescription{
    width: -webkit-fill-available;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(44, 148, 189);
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12px;
    border-radius: inherit;
}

#weatherCity{
    border-radius: 5vh;
    border: none;
    width: 25vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.myForm{
    display: flex;
    flex-direction: row-reverse;
}

.forecastContainer{
    width: -webkit-fill-available;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: rgb(44, 148, 189);
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12px;
    border-radius: inherit;
}

.forecastItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin: 1vh;
}

.tempItem{
    display: flex;
    /* border: 3px solid black; */
    width: inherit;
    justify-content: end;
}

.foreDay{
    display: flex;
    /* border: 3px solid black; */
    width: inherit;
}

.foreDes{
    display: flex;
    /* border: 3px solid black; */
    width: inherit;
    justify-content: end;
}

@media only screen and (width: 900px) and (max-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .forecastContainer {
        border: 3px solid green;
    }
}