{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Weather Information</h1>
            <form method="GET" action="">
                <input type="text" name="city" id="weatherCity" placeholder="Enter a city name"/>
                <button type="submit">Get Weather</button>
            </form>
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% else %}
                <p>{{city}}<p/>
                <p>Temperature: {{ temperature }} °F</p>
                <p>Description: {{ description }}</p>
            {% endif %}
        <div/>
    </body>
</html>
