{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}">
    {% comment %} <link rel="icon" href="./weather/assets/icons8-summer.gif" type="image/gif"> {% endcomment %}
    <link rel="icon" href="{% static 'weather/assets/icons8-summer-48.png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="getWeatherForm">
            <form method="GET" action="" class="myForm">
                <button type="submit" class="weatherButton">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" name="city" id="weatherCity" placeholder="Enter a city name" />
            </form>
        </div>
        <div class="cardContainer">
            <div class="weatherHeader">
                <h1>{{city}}</h1>
            </div>
            <div class="forecastContainer">
                {% for forecast in forecasts %}
                <div class="forecastItem">
                    <p class="foreDay">{{ forecast.day_name }}</p>
                    <p class="tempItem">{{ forecast.average_temperature }} °F</p>
                    <p class="foreDes">{{ forecast.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% comment %}
    <script>
        function toggleSearchField() {
            var weatherCity = document.getElementById("weatherCity");
            weatherCity.style.display = (weatherCity.style.display === 'none' || weatherCity.style.display === '') ? 'block' : 'none';
        }
    </script>
    {% endcomment %}
</body>
</html>
